services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sports-betting-helper
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      - DB_URL=postgres://user:password@db:5432/sports-betting-helper?sslmode=disable
    depends_on:
      - db

volumes:
  postgres_data: # Persists your data even if the container is deleted